<mat-card class="summary-price-card">
  <mat-card-content class="summary-price-card__content">
    <div *ngIf="adults && adults.length">
      <ul>
        <li>
          <span>{{ adults.length }} x Adult Fare</span>
          <span>{{ currency }} {{ adultTotalPrice.toFixed(2) }}</span>
        </li>
        <li>
          <span>Fare</span>
          <span>{{ currency }} {{ adultFarePrice.toFixed(2) }}</span>
        </li>
        <li>
          <span>Tax & Service Charge</span>
          <span>{{ currency }} {{ adultTaxPrice.toFixed(2) }}</span>
        </li>
      </ul>
    </div>

    <div *ngIf="childs && childs.length">
      <span>{{ childs.length }} x Child Fare</span>
    </div>

    <div *ngIf="infants && infants.length">
      <span>{{ infants.length }} x Infant Fare</span>
    </div>
  </mat-card-content>

  <mat-card-footer class="summary-price-card__footer"></mat-card-footer>
</mat-card>
