<div class="app-flight-selector">
  <ngx-slick-carousel
    class="app-flight-selector-carousel"
    [config]="{ slidesToShow: 5, initialSlide: 3, arrows: true }"
  >
    <div
      ngxSlickItem
      *ngFor="let slot of slots"
      class="app-flight-selector-carousel__item"
      [class]="{ active: slot.formatDate === currentSlot?.formatDate }"
    >
      <span class="daformatDatete">{{ slot.formatDate }}</span>
      <span class="dayOfWeek">{{ slot.dayOfWeek }}</span>
      <span class="price">100 $</span>
    </div>
  </ngx-slick-carousel>
</div>
