<mat-card class="flight-search-form">
  <mat-card-content>
    <form [formGroup]="searchForm">
      <mat-radio-group
        class="flight-search-form__type"
        aria-label="Select an type"
        name="type"
        formControlName="type"
        (change)="onChangeType($event.value)"
      >
        <mat-radio-button value="ROUND_TRIP">Round Trip</mat-radio-button>
        <mat-radio-button value="ONE_WAY">One Way</mat-radio-button>
      </mat-radio-group>

      <div class="flight-search-form__route">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <mat-select
            name="routeFrom"
            formControlName="routeFrom"
            [compareWith]="compareWithRoute"
          >
            <mat-option
              *ngFor="let airport of airports$ | async"
              [value]="airport"
            >
              <b>{{ airport.city }} ({{ airport.key }})</b>
              <br />
              <small>{{ airport.name }}, {{ airport.city }}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <mat-select
            name="routeTo"
            formControlName="routeTo"
            [compareWith]="compareWithRoute"
          >
            <mat-option
              *ngFor="let airport of airports$ | async"
              [value]="airport"
            >
              <b>{{ airport.city }} ({{ airport.key }})</b>
              <br />
              <small>{{ airport.name }}, {{ airport.city }}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flight-search-form__meta">
        <mat-form-field *ngIf="type === 'ROUND_TRIP'" appearance="outline">
          <mat-label>Dates</mat-label>
          <mat-date-range-input [rangePicker]="picker" [min]="minDate" required>
            <input
              matStartDate
              name="startDate"
              formControlName="startDate"
              placeholder="Start date"
              required
            />
            <input
              matEndDate
              name="endDate"
              formControlName="endDate"
              placeholder="End date"
              required
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error
            *ngIf="
              searchForm.controls.startDate.hasError('matStartDateInvalid')
            "
          >
            Invalid start date
          </mat-error>
          <mat-error
            *ngIf="searchForm.controls.endDate.hasError('matEndDateInvalid')"
          >
            Invalid end date
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type === 'ONE_WAY'" appearance="outline">
          <mat-label>Date</mat-label>
          <input
            matInput
            name="startDate"
            formControlName="startDate"
            placeholder="Start date"
            [matDatepicker]="picker"
            [min]="minDate"
            required
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div>
          <mat-form-field appearance="outline" [matMenuTriggerFor]="menu">
            <mat-label>
              Passengers:
              {{ totalPassengers }}
            </mat-label>
            <mat-select disabled />
          </mat-form-field>
          <mat-menu #menu="matMenu">
            <app-change-passengers-count-item
              passengerType="adults"
              passengerCount="{{ adults }}"
              passengerMinCount="1"
              (changePassengersCount)="onChangePassengers($event)"
            />

            <app-change-passengers-count-item
              passengerType="child"
              passengerCount="{{ child }}"
              (changePassengersCount)="onChangePassengers($event)"
            />

            <app-change-passengers-count-item
              passengerType="infant"
              passengerCount="{{ infant }}"
              (changePassengersCount)="onChangePassengers($event)"
            />
          </mat-menu>
        </div>
      </div>
    </form>

    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="flight-search-form__actions">
    <button mat-flat-button color="primary" (click)="onSearch()">Search</button>
  </mat-card-actions>
</mat-card>
