<mat-card class="flight-search-form">
  <mat-card-content>
    <mat-radio-group
      class="flight-search-form__type"
      aria-label="Select an type"
      [value]="searchType$ | async"
      (change)="onChangeSearchType($event.value)"
    >
      <mat-radio-button value="ROUND_TRIP">Round Trip</mat-radio-button>
      <mat-radio-button value="ONE_WAY">One Way</mat-radio-button>
    </mat-radio-group>

    <div class="flight-search-form__route">
      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <mat-select (selectionChange)="onChangeRouteFrom($event.value)">
          <mat-option
            *ngFor="let airport of airports$ | async"
            [value]="airport"
          >
            <b>{{ airport.city }} ({{ airport.key }})</b>
            <br />
            <small>{{ airport.name }}, {{ airport.city }}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <mat-select (selectionChange)="onChangeRouteTo($event.value)">
          <mat-option
            *ngFor="let airport of airports$ | async"
            [value]="airport"
          >
            {{ airport.city }} ({{ airport.key }}) – {{ airport.name }},
            {{ airport.city }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flight-search-form__meta">
      <mat-form-field appearance="outline">
        <mat-label>Dates</mat-label>
        <mat-date-range-input [formGroup]="dates" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
            (dateChange)="onChangeStartDate($event.value)"
          />
          <input
            matEndDate
            formControlName="end"
            placeholder="End date"
            (dateChange)="onChangeEndDate($event.value)"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="dates.controls.start.hasError('matStartDateInvalid')">
          Invalid start date
        </mat-error>
        <mat-error *ngIf="dates.controls.end.hasError('matEndDateInvalid')">
          Invalid end date
        </mat-error>
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline" [matMenuTriggerFor]="menu">
          <mat-label>Passengers</mat-label>
          <mat-select disabled />
        </mat-form-field>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </div>

    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="flight-search-form__actions">
    <button mat-flat-button color="primary" (click)="onSearch()">Search</button>
  </mat-card-actions>
</mat-card>
