.summary-card {
  &__header {
    display: flex;
    flex-direction: column;

    padding: 20px 24px;
    background: #f1f3f6;
    border-top: 3px solid #11397e;
    border-radius: 8px 8px 0px 0px;
  }

  &__number {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #11397e;
    margin-right: 20px;
  }

  &__route {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
  }

  &__date,
  &__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
  }

  &__date {
    margin-right: 35px;
  }
}
