<div class="flight-selection-page container">
  <div class="flight-selection-page__body">
    <app-flight-selector
      direction="FROM"
      [currentSlot]="fromCurrentSlot$ | async"
      [slots]="(fromSlots$ | async)!"
      (clickSlot)="handleClickFromSlot($event)"
    />

    <br />
    <br />

    <app-flight-selector
      direction="TO"
      [currentSlot]="toCurrentSlot$ | async"
      [slots]="(toSlots$ | async)!"
      (clickSlot)="handleClickToSlot($event)"
    />
  </div>

  <div class="flight-selection-page__footer">
    <button mat-button>Back</button>
    <button mat-raised-button color="primary">Continue</button>
  </div>
</div>
