<div class="app-header" [class]="getHeaderClasses()">
  <div class="app-header__container container">
    <a class="app-logo" [routerLink]="['/']">
      <img src="/assets/logo.png" alt="Logo" />
    </a>

    <div></div>

    <app-date-format-selector />

    <app-currency-selector />

    <button
      *ngIf="(isAuth$ | async) === null"
      mat-flat-button
      extended
      color="primary"
      (click)="openDialog('300ms', '150ms')"
    >
      <mat-icon>person</mat-icon>
      Sign In
    </button>
    <button
      *ngIf="isAuth$ | async"
      mat-flat-button
      extended
      color="primary"
      (click)="onLogout()"
    >
      <mat-icon>person</mat-icon>
      Logout
    </button>

    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</div>
