<div class="app-header">
  <div class="app-header__container container">
    <div class="app-logo">
      <img src="/assets/logo.png" alt="Logo" />
    </div>

    <app-date-format-selector />

    <app-currency-selector />

    <button
      mat-flat-button
      extended
      color="primary"
      (click)="openDialog('300ms', '150ms')"
    >
      <mat-icon>person</mat-icon>
      Sign In
    </button>

    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</div>
