html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
