:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flight-search-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: #fff;
  background-image: url(/assets/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
