<div class="booking-process-page">
  <app-flight-edit-search-form />

  <div class="booking-process-page__container container">
    <div class="booking-process-page__body">
      <!--      Title OF CONTENT-->
      <div class="content-title">
        <div class="title-area">
          <div class="image-container">
            <img src="../../../../assets/passengers-primary.png" />
          </div>
          <div class="title">Passengers</div>
        </div>
        <p class="description">
          Enter the passenger's names as they appear on document (passport or ID).
        </p>
      </div>

      <!--      PASSENGER FORMS LIST-->
      <app-passengers-card-list/>


      <div class="content-title">
        <div class="title-area">
          <div class="image-container">
            <img src="../../../../assets/contact-details.png" />
          </div>
          <div class="title">Contact details</div>
        </div>
        <p class="description">
          We need contact details to be able to deliver the latest information regarding
          your flight.
        </p>
      </div>

      <app-contacts-form />

    </div>


    <div class="booking-process-page__footer">
      <button mat-button (click)="clickToBack()">Back</button>
      <button
        mat-raised-button
        color="primary"
        (click)="clickToContinue()"
      >
        Continue
      </button>
    </div>
  </div>
</div>
